In [1]:
import os
folders = os.listdir()
print(folders)

['data', 'index.py', 'pruebas.ipynb', 'venv']

In [ ]:
data_path = folders[0]
print(data_path)
files = os.listdir(os.path.join(data_path))
print(files)

data
['dataset_zapoteco.json', 'dataset_zapoteco_basico.csv']

In [8]:
import pandas as pd
current_folder = folders[0]
current_file = files[1]
df = pd.read_csv(os.path.join(current_folder,current_file), encoding='utf-8')
df.head()

    zapoteco              español
0     abati'        ninguna parte
1  adxagayá'   payasada, tontería
2       adxé  diferente, distinto
3     aguxa'                aguja
4        amá                 mamá